/*Global fonts*/
/* @font-face {
  font-family: "Round";
  src: url('../assets/VarelaRound-Regular.ttf');
  font-display: swap;
} */
@font-face {
  font-family: "Round";
  src: url('../assets/VarelaRound-Regular.ttf');
  font-display: swap;
}