//Headers
h1, h2, h3 {
  font-size: 21px;
  font-weight: bold;
  color: blue;
}
h1 {
  font-family: "IBM Serif";
}
h2 {
  font-family: "IBM Sans";
}
h3 {
  color: blue;
  font-family: "IBM Sans";
}
a {
  text-decoration: none;
}

//Colors
$light-blue: #0D8CFF;
$purple: #910DFF;
$red: #FF3226;
$orange: #FF7126;
$shadow: #888;

//Other reusabble stuff
.hotlist_content, .dictionary_content {
  margin: 50px 0rem;
}

.loading {
  width: auto;
  margin: 50px auto;
  h1 {
    padding: 0rem 0.5rem;
  }
}

.page_header {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 100%;
  gap: 1rem;

  h1 {
    line-height: 1.2;
  }
}

.navigation_menu, .addword_btn, .word_details-close {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 48px;
  height: 48px;
  transition: transform 0.2s;
}
.navigation_span, .addword_span, .moveword_close-span, .word_details-close-span {
  display: block;
  height: 1px;
  width: 40px;
  margin: 0.3rem 0rem;
}
span {
  transition: transform 0.2s;
}

// .addword_btn:active {
//   transform: scale(1.7);
// }
// .moveword_close:active {
//   transform: scale(1.7);
// }