//Headers
h1, h2, h3 {
  font-size: 21px;
  font-weight: bold;
  color: blue;
}
h1 {
  font-family: "IBM Serif";
}
h2 {
  font-family: "IBM Sans";
}
h3 {
  color: blue;
  font-family: "IBM Sans";
}
a {
  text-decoration: none;
}

//Colors
//blue & black & white, tomato?

//Other reusabble stuff