//Colors
$light-blue: #f6b22b; //#16345C; //#0D1E36; //#0D8CFF;
$purple: #4279C2; //#910DFF;
$red: #FF3226;
$orange: #FF7126;
$shadow: #16345C; //rgba(0, 0, 0, 0.9); //#666666b0;//#a6a6a6ce;//rgba(0, 0, 0, 0.3);
$background: #1C4375; //#5777A2;//#235390; //#2e303e;
$darker: #E6E6E6;//#272935;
$paars: #822792;

//Breakpoints
$breakpoints: (
  "sm": 0, //Phone
  "md": 768px, //Tablet
  "lg": 1280px, //Laptop
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Headers
h1, h2 {
  font-size: 21px !important;
  color: white;
  font-family: "Round" !important;

  @include screen-is(lg) {
    font-size: 25px !important;
  }
}
small {
  color: $light-blue;
  font-family: "Round" !important;
  font-weight: 800;
}
a {
  text-decoration: none;
}
span {
  transition: transform 0.2s;
  font-family: "Round" !important;
  color: white;
}
label {
  font-family: "Round";
}
input {
  color: $background;
  font-family: "Round";
  background-color: white;
}
body {
  background-color: $background;
  overflow-x: hidden;
}

//Other reusabble stuff
//Concerning page headers:
.hotlist_content, .dictionary_content, .searchresult_content, .whyducky_content {
  margin: 100px 0rem 70px 0rem;

  h1 {
    text-align: center;
  }

  h2 {
    line-height: 1.8rem;
  }

  @include screen-is(lg) {
    width: 55%;
    margin: 150px auto 70px auto; //Because the page_header-title is gone
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    gap: 2.5rem;
  }
}
.loading {
  width: auto;
  margin: 50px auto;

  .spinner {
    width: 70px;
    margin: 100px 0rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @include screen-is(lg) {
    width: 50%;
    margin: 100px auto;
  }
}
.line {
  display: none;

  @include screen-is(lg) {
    display: block;
    width: calc(100% - 1.5rem);
    height: 4px;
    padding: 0rem !important;
    margin: 0rem auto 0.5rem auto;
    background-color: $shadow;
  }
}
.page_header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  .page_header-title {
    position: fixed;
    z-index: -1;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.2;
    color: #E6E6E6;
    font-family: "Round";
    font-weight: 800;
    text-align: center;

    @include screen-is(lg) {
      left: 1rem;
      transform: none;
    }

    .page_header-img {
      height: 60px;
      width: auto;

      @include screen-is(lg) {
        height: 100px;
        margin-right: 50%;
      }
    }
  }
}
.navigation_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 35px;
  height: auto;
  transition: transform 0.2s;
}
.navigation_span {
  display: block;
  height: 3px;
  width: 35px;
  margin: 0.2rem 0rem;
  border-radius: 2px;
}

//Concerning the forms:
.inputs_button {
  width: 100%;
  padding: 0.8rem 0.5rem;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 2px;

  @include screen-is(lg) {
    font-size: 21px;
  }
}
section {
  .editword_form-wrapper, .addword_form-wrapper, .moveword_form-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0rem;
    left: -100%;
    transition: all 0.2s ease-in;
    background-color: $background;
    opacity: 0;

    &.open {
      left: 0;
      opacity: 1;
    }

    @include screen-is(lg) {
      width: 56%;
      height: 100%;
      position: fixed;
      top: -100%;
      left: 22%;
      transition: all 0.2s ease-in;
      border-left: 4px solid $shadow;
      border-right: 4px solid $shadow;

      &.open {
        top: 0;
        left: 22%;
      }
    }
  }
}
.editword_form, .addword_form, .moveword_form {
  padding: 1rem;

  h1 {
    height: 50px;
    color: white;
  }

  @include screen-is(lg) {
    width: 60%;
    margin: 0rem auto;
  }
}
.editword_inputs, .moveword_inputs {
  padding: 1.5rem 0rem;
}
.editword_inputs, .addword_inputs, .moveword_inputs, .login_inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  @include screen-is(lg) {
    gap: 2.5rem;
  }

  input, .addword_pre-inputs {
    grid-column: 1/3;
  }
  .radio {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .inputs_radio {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 2px;
  }
  .inputs_radio:checked {
    background-color: $purple;
  }
  label {
    padding: 0.8rem 0.5rem;
    color: white;
  }
}
.editword_pre-inputs, .addword_pre-inputs, .moveword_pre-inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  gap: 0.5rem;

  h2 {
    border-radius: 2px;
    background-color: $background;
    border: 4px solid $shadow;
    color: white;
    height: auto;
    min-height: calc(50px - 1.6rem);
  }
}
.inputs_field {
  width: calc(100% - 1rem);
  padding: 0.8rem 0.5rem;
  border: none;
  border-radius: 2px;

  &:focus {
    background-color: $purple;
  }
}
.category_select-label {
  padding: 0.8rem 0.5rem;
  font-size: 18px;
  color: white;
}
.category_select, .filter_select {
  -webkit-appearance: none;
  width: 100%;
  padding: 0.8rem 0.25rem;
  background-color: $darker;
  border: none;
  border-radius: 2px;
  color: $background;

  // &:focus {
  //   background-color: $purple;
  // }
}
.addword_close, .editword_close, .moveword_close {
  bottom: 0.5rem;
  right: 0.5rem;
  position: absolute;
  background-color: $purple;
  border-radius: 2px;

  @include screen-is(lg) {
    top: 0.5rem;
    left: 0.5rem;
    right: unset;
    bottom: unset;
  }
}

//Concerning the searchbar and the messagepopup
section {
  .search_input, .filter_input, .message_display {
    width: calc(100% - 2rem);    
    height: 50px;
    border-bottom: 4px solid $shadow;
    background-color: $background;
    top: 0rem;
    left: 0rem;
    position: fixed;
    z-index: 3;
    padding: 1.5rem 1rem 0rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &.bounce-enter-active,
    &.bounce-leave-active {
      transition: all 0.3s ease;
    }
    &.bounce-enter, &.bounce-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
      transform: translateY(100%);
    }
    &.bounce-enter-to {
      transform: translateY(0%);
    }

    @include screen-is(lg) {
      width: calc(55% - 2rem);    
      left: 50%;
      transform: translateX(-50%);
      // border-right: 4px solid $shadow;
    }
  }
}
.search_input, .filter_input {
  div {
    display: flex;
    flex-flow: row nowrap;
    background-color: $background;
  }

  input, select {
    width: 100% !important;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: $background;
    border: none;
    color: white;
  }
  .search_submit, .filter_submit,
  .search_close, .filter_close {
    img {
      // background-color: $purple;
    }
  }
  .search_close, .filter_close {
    img {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}